/* You can add global styles to this file, and also import other style files */
@import '@angular/material/_theming';
@include mat-core();

// Declaração de Cores Primarias , Secundarias e Cor de Alerta
$custom-app-primary: mat-palette($mat-blue-gray, 700, 800, 900);
$custom-app-secondaty: mat-palette($mat-blue, 700, 800, 500);
$custom-app-wand:  mat-palette($mat-red);

// Cores recebidas para a de
$custom-theme: mat-light-theme($custom-app-primary, $custom-app-secondaty, $custom-app-wand);

@include angular-material-theme($custom-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
